@font-face {
    font-family: 'Capriola';
    src: url('../assets/fonts/Capriola-Regular.ttf');
}

@font-face {
    font-family: 'Helvetica';
    src: url('../assets/fonts/Montserrat-Regular.ttf');
}
